*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
header{
    width: 100%;
    height: 10vh;
    background-color: #F7F4ED;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
header aside{
    height: 10vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0PX 100PX;
}
header aside img{
height: 5vh;
}
header nav{
    width: 600px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
    margin: 0PX 100PX;

}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin: 0px 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
button{
    border-radius: 20PX;
    background-color: black;
    color: ivory;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 50px;
}
main{
    display: flex;
    height: 80vh;
    background-color:#F7F4ED ;  

}
main article{
    width: 50vw;
    /* border: 1px solid #000;   */
}
main aside{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: end;
}
footer{
    height: 10vh;
    border-top: 1px solid #000;
    background-color:#F7F4ED ;   
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #6B6B6B;
    margin-top: 30px;
    font-size: 15px;
}
footer ul li{
    list-style:none ;
}
