*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
header{
    width: 100%;
    height: 10vh;
    background-color: #F7F4ED;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
header aside{
    height: 10vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0PX 100PX;
}
header aside img{
height: 5vh;
}
header nav{
    width: 600px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
    margin: 0PX 100PX;

}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin: 0px 20px;
    /* font-size: 14px; */
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
button{
    width: 104px;
    height: 37.5px;
    border-radius: 20PX;
    background-color: black;
    color: ivory;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 50px;
}
main{
    display: flex;
    height: 80vh;
    background-color:#F7F4ED ;  
}
main article{
    width: 60vw;
    border: 1px solid #000;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main article h1{
    font-size: 80px;
    margin-bottom: 20px;
    margin-left: 0px;
}
main article p{
    font-size: 23px;
    margin-bottom: 20px;
}
main article button{
    width: 104px;
    height: 37.5px;
    border-radius: 20PX;
    background-color: black;
    color: ivory;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
main aside{
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: end;
    overflow: hidden;
}
main aside img{
    height: 105%;
    margin-top: 15px;
}
footer{
    height: 10vh;
    border-top: 1px solid #000;
    background-color:#F7F4ED ;   
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #6B6B6B;
    margin-top: 30px;
    font-size: 15px;
}
footer ul li{
    list-style:none ;
}

@media screen  and (max-width: 720px ){
    header{
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    height: 15vh;
    }
    header nav {
    width: 200px;
  }
   nav > ul {
    display: none;
  } 
}